body{
    background-size: cover;
}


#number_of_objects,#status,#start{
    font-size: 18px;
}

.copyright_footer{
    color: rgb(77, 72, 72);
    background-color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 3;

}

canvas{
border: 2px solid white;
border-radius: 10px;
margin-top: 130px;
box-shadow: 5px 5px 5px white;
}